<!-- This tag uses data stored in the component -->
<!-- This notation {{}} referred to as mustache notation contains the name of a property/variable in the component-->
<!-- This is called one-way binding -->
<!-- Data from the component can be used in the html templatee -->
<!-- The data only flows in one direction from component to template -->
<!-- {{pageTitle}} says go to the component and get the pageTitle-->
<!-- Data for a component is coded in the .ts File for the component -->
<h2 id="pageHeading">{{pageTitle}}</h2>
<!-- Sample-form is an angular component -->
<!-- We want to include the sample form component in this page -->
<sample-form></sample-form>