/*make the background color of the page my favorite color*/
nav {  /*universal selector*/
    background-color: rgb(125, 115, 223);
}

table {
    color: indigo;
}

#sportsQuestion {
color : green
}

div {
    font-size: 20px;
    color:indigo;
    text-align: center;
}

.namefield {
    font-size: 30px;
    color:mediumblue;
    text-align: left;
}